.Loginform {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.Loginform h1 {
    background: #3b2c53;
    color: white;
    border: 0px solid black;
    width: 100vw;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
}


.Loginform>div {
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
}

.Loginform>div div {
    margin: 10px 0px;
}

.buttonReturn {
    
    left: 10px;
    top: 10px;
    border: 0px;
    background: lightgray;
    border-radius: 20px;
    width: 40px;
    position: absolute;
}