.App-header tbody img{
    width: 100%;
    margin: 0px;
    border: 1px solid black;
    border-radius: 15px;
}
.App-header tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.App-header td {
    width: 33vw;
}
.App-header p{
    min-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.App-header table{
    width: 95vw;
}

.App-header td:nth-child(2) {
    width: 20vw;
}
.App-header td:nth-child(2) p{
    margin: 0px;
    text-align: justify;
}
.App-header td:nth-child(3) {
    width: 42vw;
}
html .App-header thead,html .App-header table{
    outline-color: black    ;
    border: black 3px solid;
}

.App-header button{
    background-color: #f06b42;
    border: 2px solid #3f2a56;
}
html .pl-36 {
    padding-left: 0rem;
}
.App-header tr th {
    width: 50%;
}
@media only screen and (min-width: 960px) {
    html .lg\:w-3\/4 {
        width: 100%;
    }
    html .lg\:justify-end {
        justify-content: center;
    }
    }