
.picture{
    width: 100%;
  }
  .Picture {
    width: 100vw;
    height: 60vh;
}
  .Picture h3{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
  }
  .Picture img{
    border: 1px solid black;
    border-radius: 5px;
  }
  .Center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 80vh;
  }
  #root > div > div > div > div.slick-list > div img{
    width: 80%;
    display: block;
    margin: auto;
  }
  
  /* App.css */
  
  html .slick-prev,
  html .slick-next,html .slick-prev:hover,
  html .slick-next:hover  {
    z-index: 100;
    text-align: center;
    content: '→';
    font-size: 60px; /* Taille de la police des flèches */
    color: #1f1e1e; /* Couleur des flèches */
    width: 40px; /* Largeur des flèches */
    height: 40px; /* Hauteur des flèches */
    line-height: 40px; /* Centrage vertical du texte dans les flèches */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  html .slick-prev .material-symbols-outlined,
  html .slick-next .material-symbols-outlined,html .slick-prev:hover .material-symbols-outlined,
  html .slick-next:hover .material-symbols-outlined  {
    font-size: 40px; /* Taille de la police des flèches */
  }
  
  
  html .slick-prev {
    left: 0px;
  }
  
  html .slick-next {
    right: 0px;
  }
  
  .slick-prev:before, .slick-next:before{
    display: none;
  }
  
 
  
  html .slick-dots {
    position: absolute;
    bottom: 100px;
  }